@import url("/src/styles/root.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  background: var(--color-background);
  color: var(--color-text-primary);
}
h1 {
  text-align: start;
  margin-top: 20px;
  margin-left: 50px;
}
#characters-container{
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 100px;
}
.character{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 300px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 10px;
}
.character img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


