@import url("/src/styles/root.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  background: var(--color-background);
  color: var(--color-text-primary);
}
h1 {
  text-align: center;
  margin-top: 20px;
}
.characters-input {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: var(--color-background);
}
.inputName {
  padding: 5px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  width: 300px;
}

